@(acts : List[Act], locations : List[Location], setlists : List[Setlist])

<!DOCTYPE html>
<html>
<body>

<form method="POST">
    <h1>Add Performance</h1>
    <br>
    <label>Event Date:</label>
    <input type="date" name="eventDate" id="eventDate" >
    <br>
    <br>
    <label>Act Name:</label><select name="actId">
    @for(act <- acts){
    <option value="@act.getActId()">@act.getActName()</option>
    }</select>
    <br>
    <br>

    <label>Performance Rating:</label>
    <input type="text" name="performanceRating" id="performanceRating" >
    <br>
    <br>
    <label>Remarks:</label>
    <input type="text" name="remarks" id="remarks">
    <br>
    <br>


        <label>Setlist Photo:</label><select name="setlistId">
        @for(setlist <- setlists){
        <option value="@setlist.getSetlistId()">@setlist.getSetlistId()</option>
        }</select>

            <br>
            <br>

            <label>Venue Name:</label><select name="locationId">
            @for(location <- locations){
            <option value="@location.getLocationId()">@location.getVenueName()</option>
        }</select>

            <br>
            <br>

            <button type="submit">Save</button>
</form>
</body>
</html>