@(eventdate : List[Performances])
<!DOCTYPE html>
<html>
<h1>Performance Details</h1>
 <table>
        @for(performances <- eventdate){
<tr>
<label><a href="/performance/@performances.getEventDateId">@performances.getEventDateId)</a> </label>
<label>Date of Show: </label><label>@performances.getFormattedEventDate</label><br>

<label>Act Name: </label><label>@performances.getActName </label><br>

<label>Act Picture: </label><br>

<label>Venue Name: </label><label> <a href="/performance/@performances.getEventDateId">@performances.getVenueName</a></label><br>
<label>@performances.getCityName, @performances.getStateName</label><br>
<br>
<br>

</tr>
        }
    </table>
</div>
</body>
</html>