@(performances : Performances)
<!DOCTYPE html>
<html lang="en">
<head>

<form method="POST">
    <h1>Performance Details</h1>
    <label>Event Date:</label>
    <input type="date" name="eventDate" id="eventDate" value="@performances.getFormattedEventDate">
    <br>
    <br>
    <label>Act Name:</label>
    <input type="text" name="actName" id="actName" value="@performances.getActName">
    <br>
    <br>

    <img src="/actphoto/@performances.getActId" width="200">


    <br>
    <br>
    <label>Music Genre:</label>
    <input type="text" name="musicGenre" id="musicGenre" value="@performances.getMusicGenre">
    <br>
    <br>
    <label>Venue Name:</label>
    <input type="text" name="venueName" id="venueName" value="@performances.getVenueName">

    <br>
    <br>


    <img src="/venuephoto/@performances.getLocationId" width="200">
  <br>
    <br>
    <label>City Name:</label>
    <input type="text" name="cityName" id="cityName" value="@performances.getCityName">
    <br>
    <br>
    <label>State and/or Country: </label>
    <input type="text" name="stateName" id="stateName" value="@performances.getStateName">
    <br>
    <br>
    <label>Venue Size:</label>
    <input type="text" name="venueSize" id="venueSize" value="@performances.getVenueSize">
    <br>
    <br>
       <label>Venue Type:</label>
    <input type="text" name="venueType" id="venueType" value="@performances.getVenueType">


    <br>
    <br>
    <label>Performance Rating:</label>
    <input type="text" name="performanceRating" id="performanceRating" value="@performances.getPerformanceRating">
    <br>
    <br>
    <label>Remarks:</label>
    <input type="text" name="remarks" id="remarks" value="@performances.getRemarks">
    <br>
    <br>



    <img src="/setlistphoto/@performances.getSetlistId" width="200">
   <br><br>

</form>
</body>
</html>